.feature-box {
    font-size: 1.5rem;
    background-color: rgba($color-white, 0.8);
    padding: 2.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    border-radius: 3px;
    transition: all 0.3s;

    &__icon {
        display: inline-block;
        font-size: 8rem;
        margin-bottom: 2rem;
        background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: scale(1.05) translateY(-1rem);
    }
}